table {
  background-color: #00509d; /* Couleur de la grille */
  padding: 10px;
  border-radius: 10px;
}

td {
  width: 70px;
  height: 70px;
  border: none;
  background-color: #f0f0f0; /* Couleur des "trous" */
  border-radius: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.PlacementP1 {
    background-color: red;
}

.PlacementP2 {
    background-color: yellow;
}

.PlayTurn {
    width: 70px;
    height: 70px;
    border-radius: 50%; /* rend le bouton rond */
    border: none;   
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.PlayTurn:hover {
    background-color: #afafaf;
}
