<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Power 4</title>
</head>
<body>
    <h2>Difficulté : {{ .Difficulty}}</h2>
    <p name="Player1">{{ .Player1}}</p>
    <p name="Player2">{{ .Player2}}</p>
    <form action="/playTurns" method="post">
        <table>
            <tr class="ColChoise">
                {{if eq .ArrowLen 6}}
                <td><button type="submit" class="PlayTurn" value="Col1">↓</button></td>
                <td><button type="submit" class="PlayTurn" value="Col2">↓</button></td>
                <td><button type="submit" class="PlayTurn" value="Col3">↓</button></td>
                <td><button type="submit" class="PlayTurn" value="Col4">↓</button></td>
                <td><button type="submit" class="PlayTurn" value="Col5">↓</button></td>
                <td><button type="submit" class="PlayTurn" value="Col6">↓</button></td>
                {{else}}
                <td><button type="submit" class="PlayTurn" value="Col1">↓</button></td>
                <td><button type="submit" class="PlayTurn" value="Col2">↓</button></td>
                <td><button type="submit" class="PlayTurn" value="Col3">↓</button></td>
                <td><button type="submit" class="PlayTurn" value="Col4">↓</button></td>
                <td><button type="submit" class="PlayTurn" value="Col5">↓</button></td>
                <td><button type="submit" class="PlayTurn" value="Col6">↓</button></td>
                <td><button type="submit" class="PlayTurn" value="Col7">↓</button></td>
                {{end}}
            </tr>
        </table>
    </form>
    <p></p>
    <table class="PlayArea">
        {{range .Board}}
        <tr>
            {{range .}}
                {{if eq . 1}}
                <td class="PlacementP1"> </td>
                {{else}}
                    {{if eq . 2}}
                    <td class="PlacementP2"> </td>
                    {{else}}
                    <td class="NoPlacement"> </td>
                    {{end}}
                {{end}}
            {{end}}
        </tr>
        {{end}}
    </table>
    <h2>
        Au tour de :
        <p class="NameCurrentPlayer">
            {{if eq .CurrentPlayer "Player1"}}
                {{ .Player1}}
                <style>
                    .NameCurrentPlayer {
                        color: red;
                    }
                </style>
            {{else}}
                {{ .Player2}}
                <style>
                    .NameCurrentPlayer {
                        color: yellow;
                    }
                </style>
            {{end}}
        </p>
    </h2>
    <h2>
        Suivant :
        <p class="NameWaitingPlayer">
            {{if eq .WaitingPlayer "Player1"}}
                {{ .Player1}}
                <style>
                    .NameWaitingPlayer {
                        color: red;
                    }
                </style>
            {{else}}
                {{ .Player2}}
                <style>
                    .NameWaitingPlayer {
                        color: yellow;
                    }
                </style>
            {{end}}
        </p>
    </h2>
</body>
</html>